@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  @apply bg-background;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #d2dfd4 inset !important;
  -webkit-text-fill-color: #000000 !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  background-color: #d2dfd4 !important;
  color: #000000 !important;
}

input:-ms-input-autofill,
input:-ms-input-autofill:hover,
input:-ms-input-autofill:focus,
input:-ms-input-autofill:active {
  background-color: #d2dfd4 !important;
  color: #000000 !important;
}

/* Disable chart focus style */
.recharts-pie .recharts-layer {
  pointer-events: none;
}

/* Custom checkbox styles */
.custom-checkbox {
  @apply h-5 w-5 cursor-pointer appearance-none rounded-md border-2 border-primary bg-contain bg-center checked:bg-primary checked:bg-[url('/icons/tick-mark.svg')] focus:ring-0 disabled:cursor-default disabled:opacity-80;
}

/* Calendar styles for habit tracker section */
.habit-calendar.react-calendar {
  @apply w-full rounded border bg-transparent pt-2 font-semibold;
}

.habit-calendar .react-calendar__viewContainer {
  @apply p-4 pt-0;
}

.habit-calendar .react-calendar button {
  @apply m-0 border-0 outline-none;
}

.habit-calendar .react-calendar button:enabled:hover {
  @apply cursor-pointer;
}

.habit-calendar .react-calendar__navigation {
  @apply mb-2 flex px-2;
}

.habit-calendar .react-calendar__navigation__label {
  @apply w-28;
}

.habit-calendar .react-calendar__navigation button {
  @apply rounded transition-all duration-300;
}

.habit-calendar
  .react-calendar__navigation
  button.react-calendar__navigation__arrow {
  @apply h-10 min-w-10 outline-none;
}

.habit-calendar .react-calendar__navigation button:enabled:hover {
  @apply bg-paleGreen;
}

.habit-calendar .react-calendar__month-view__weekdays {
  font-size: 0.75em;
  @apply text-center font-bold uppercase;
}

.habit-calendar .react-calendar__month-view__weekdays__weekday {
  @apply mb-2;
}

.habit-calendar .react-calendar__month-view__days__day--weekend {
  @apply text-red;
}

.habit-calendar .react-calendar__month-view__days__day--neighboringMonth,
.habit-calendar .react-calendar__decade-view__years__year--neighboringDecade,
.habit-calendar
  .react-calendar__century-view__decades__decade--neighboringCentury {
  @apply invisible !transition-none;
}

.habit-calendar .react-calendar__year-view .react-calendar__tile,
.habit-calendar .react-calendar__decade-view .react-calendar__tile,
.habit-calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.habit-calendar .react-calendar__month-view__days {
  @apply !grid grid-cols-7 gap-1;
}

.habit-calendar .react-calendar__tile {
  @apply rounded bg-paleGreen text-center transition-all duration-300;
  width: 37px;
  height: 36px;
  font-size: 0.833em;
}

.habit-calendar .react-calendar__tile:enabled:hover {
  background-color: #bacabc;
}

.habit-calendar .react-calendar__tile--now {
  @apply !bg-mediumGreen !text-white;
}

.habit-calendar .react-calendar__tile--now:enabled:hover,
.habit-calendar .react-calendar__tile--now:enabled:focus {
  @apply bg-mediumGreen text-white;
}

.habit-calendar .react-calendar__tile--active {
  @apply bg-primary text-white;
}

.habit-calendar .react-calendar__tile--active:enabled:hover {
  @apply bg-primary;
}

.habit-calendar .react-calendar__year-view__months,
.habit-calendar .react-calendar__decade-view__years,
.habit-calendar .react-calendar__century-view__decades {
  @apply !grid grid-cols-3 gap-1;
}

.habit-calendar .react-calendar__year-view__months__month,
.habit-calendar .react-calendar__decade-view__years__year,
.habit-calendar .react-calendar__century-view__decades__decade {
  @apply flex w-full items-center justify-center;
}

/* Calendar styles for event management section */
.events-calendar.react-calendar {
  @apply mx-auto w-full max-w-7xl rounded bg-lightGreen px-16 py-8 font-semibold;
}

.events-calendar .react-calendar button {
  @apply m-0 border-0 outline-none;
}

.events-calendar .react-calendar button:enabled:hover {
  @apply cursor-pointer;
}

.events-calendar .react-calendar__navigation {
  @apply mb-2 flex px-2;
}

.events-calendar .react-calendar__navigation__label {
  @apply w-28;
}

.events-calendar .react-calendar__navigation button {
  @apply rounded transition-all duration-300;
}

.events-calendar
  .react-calendar__navigation
  button.react-calendar__navigation__arrow {
  @apply h-10 min-w-10 outline-none;
}

.events-calendar .react-calendar__navigation button:enabled:hover {
  @apply bg-paleGreen;
}

.events-calendar .react-calendar__month-view__weekdays {
  @apply mt-4 text-center text-sm font-bold uppercase;
}

.events-calendar .react-calendar__month-view__weekdays__weekday {
  @apply mb-2;
}

.events-calendar .react-calendar__month-view__days__day--weekend {
  @apply text-red;
}

.events-calendar .react-calendar__month-view__days__day--neighboringMonth,
.events-calendar .react-calendar__decade-view__years__year--neighboringDecade,
.events-calendar
  .react-calendar__century-view__decades__decade--neighboringCentury {
  @apply invisible !transition-none;
}

.events-calendar .react-calendar__year-view .react-calendar__tile,
.events-calendar .react-calendar__decade-view .react-calendar__tile,
.events-calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.events-calendar .react-calendar__month-view__days {
  @apply !grid grid-cols-7 gap-1;
}

.events-calendar .react-calendar__tile {
  @apply flex h-full w-full rounded bg-paleGreen px-4 py-2 text-center text-lg font-semibold transition-all duration-300;
  font-size: 0.833em;
  aspect-ratio: 5/4;
}

.events-calendar .react-calendar__tile:enabled:hover {
  background-color: #bacabc;
}

.events-calendar .react-calendar__tile--now {
  @apply !bg-mediumGreen !text-white;
}

.events-calendar .react-calendar__tile--now:enabled:hover,
.events-calendar .react-calendar__tile--now:enabled:focus {
  @apply bg-mediumGreen text-white;
}

.events-calendar .react-calendar__tile--active {
  @apply bg-primary text-white;
}

.events-calendar .react-calendar__tile--active:enabled:hover {
  @apply bg-primary;
}

.events-calendar .react-calendar__year-view__months,
.events-calendar .react-calendar__decade-view__years,
.events-calendar .react-calendar__century-view__decades {
  @apply !grid grid-cols-3 gap-1;
}

.events-calendar .react-calendar__year-view__months__month,
.events-calendar .react-calendar__decade-view__years__year,
.events-calendar .react-calendar__century-view__decades__decade {
  @apply flex w-full items-center justify-center;
}

/* Rich text editor styles */
.ql-container,
.ql-toolbar {
  font-family: "Nunito", sans-serif !important;
}
.ql-container .ql-editor * * {
  @apply rounded p-0.5;
}
